
  <footer class="c-footer">
    <div class="c-footer__bg">
      <div class="c-container">
        <div class="c-footer__copyright">
          Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear())</script> All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>

  <div class="c-scroll-top">
    <a class="ov" href="#" aria-label="ページトップへ戻る">↑</a>
  </div>

  <%- data.footer %>
  
</body>

</html>