@use "foundation" as *;

.c-header {
  &__bg {
    background: blue;
    color: white;
    border-bottom: 1px solid #ddd;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 5rem;
  }

  &__logo {
    display: block;
  }
}
